<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.schonherz.y2014.partyappandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <permission
        android:name="hu.schonherz.y2014.partyappandroid.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="hu.schonherz.y2014.partyappandroid.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_launcher_label"
        android:theme="@style/CustomTheme" >
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyDAP9bBgJgvssQ-Msr2C-tmer9OLATZFkY"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
       	
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.LoginActivity"
            android:label="@string/login" >
            <intent-filter android:label="@string/app_launcher_label" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.RegisterActivity"
            android:label="Regisztráció" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubsListFragment"
            android:label="@string/title_activity_clubs_list" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubsMapFragment"
            android:label="@string/title_activity_clubs_map" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.MyClubsActivity"
            android:label="@string/title_activity_my_clubs" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubsSearchActivity"
            android:label="@string/title_activity_clubs_search" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.NewClubActivity"
            android:label="@string/title_activity_new_club" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubInfoFragment"
            android:label="@string/title_activity_club_info" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubEventsActivityntsActivity"
            android:label="@string/title_activity_club_events" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.ClubGaleryActivity"
            android:label="@string/title_activity_club_galery" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubEventDetailsActivity"
            android:label="@string/title_activity_club_event_details" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubEventModifyActivity"
            android:label="@string/title_activity_club_event_modify" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubEventNewActivity"
            android:label="@string/title_activity_club_event_new" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.ClubLocationActivity"
            android:label="@string/title_activity_club_location" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubMenuActivity"
            android:label="@string/title_activity_club_menu" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubReviewsActivity"
            android:label="@string/title_activity_club_reviews" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubMyReviewActivity"
            android:label="@string/title_activity_club_my_review" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.PendingListActivity"
            android:label="@string/title_activity_pending_list" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ProfileModifyActivity"
            android:label="@string/title_activity_profile_modify" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ProfilePasswordActivity"
            android:label="@string/title_activity_profile_password" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubMenuAddActivity"
            android:label="@string/title_activity_club_menu_add" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubMenuModifyActivity"
            android:label="@string/title_activity_club_menu_modify" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubsActivity"
            android:label="@string/title_activity_clubs" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubActivity"
            android:label="@string/title_activity_club" >
        </activity>

        <service
            android:name="hu.schonherz.y2014.partyappandroid.services.GPSLocation"
            android:enabled="true" />

        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.VisitorEmail"
            android:label="@string/title_activity_visitor_email" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.RoundEmail"
            android:label="@string/title_activity_round_email" >
        </activity>
        <activity android:name="hu.schonherz.y2014.partyappandroid.xls.FileChooser" >
        </activity>
        <activity android:name="hu.schonherz.y2014.partyappandroid.activities.FullImageActivity" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.PendingClubsListActivity"
            android:label="@string/title_activity_pending_clubs_list" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.PendingOwnerRequest"
            android:label="@string/title_activity_pending_owner_request" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubRatingsActivity"
            android:label="@string/title_activity_club_ratings" >
        </activity>
        <activity
            android:name="hu.schonherz.y2014.partyappandroid.activities.ClubRatingAdd"
            android:label="@string/title_activity_club_rating_add" >
        </activity>
    </application>

</manifest>